.loginPage{
  margin-top:20px;
  display: flex;
  padding:20px;
  form{
    border-radius:5px;
    display:flex;
    flex-flow:column wrap;
  }
  .formInput{
    display:flex;
    flex-flow:column wrap;
    label{
      margin-bottom:20px;
      text-align: center;
    }
    input{
      margin-bottom:20px;
      padding:10px;
      border:none;
      border-bottom:1px solid #c3c3c3;
      &:focus{
        outline:0;
      }
    }
  }
  .headerTitle{
    text-align: center;
    margin-top:20px;
    display: block;
    margin-bottom:40px;
  }
  .loginInfo{
    display: flex;
    flex-flow:column wrap;
    padding-top:80px;
    padding-left:40px;
    .headerTitle{
      text-align: left;
    }
    ul{
      list-style: inside;
      font-weight:700;
      li{
        margin-bottom:20px;
      }
    }
  }

  .wrapper{
    margin: 0 auto;
    display:flex;
  }

  .formContainer{
    min-width:450px;
    background-color:#fff;
    padding:20px;
  }

  .appButton{
    transition: .3s ease;
    &:hover{
      transition: .3s ease;
      background-color:#5d89f2;
      color:#dbf3fb;
    }
  }
}

